<header class="branding">
    <img src="/assets/images/wurst_icon64.png" class="logo">
    <a class="branding-text" href="/">
        <span class="text-highlight">{{ site.branding.highlight }}</span><span class="text-bold">{{ site.branding.bold }}<br></span>
    </a>
    <nav>
        <a class="nav-link" href="/start">Installation</a>
        <a class="nav-link" href="/documentation">Documentation</a>
        <a class="nav-link" href="/community">Community</a>
        <a class="nav-link" href="/news">News</a>
        <a class="nav-link" href="https://bin.wurstlang.org/">Pastebin</a>
    </nav>
    <div style="flex:1"></div>
    <div id="search-searchbar"></div>
</header>

<div class="post-list" id="search-hits"></div>
