<div id="whywurst" class="cards-section second text-center"> 
	<hr>
	<h1>Why WurstScript?</h1>
	For a <b>modern and integrated</b> development experience. The <b>free</b> and <b>open source</b> modding toolchain for <b>Warcraft III !</b>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:18px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-edit"></i>
				</div>
				<h3 class="title">Great Editor Support</h3>
				<p class="intro">Highlighting, auto-complete, realtime code feedback and more.</p>
				<a class="link" href="https://marketplace.visualstudio.com/items?itemName=peterzeller.wurst"><span></span></a>
			</div>
		</div>
		<div class="item col-md-8 col-sm-6 col-xs-6 imgr">
			<img src="/assets/images/whywurst/editorsupport.jpg" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:2px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-code"></i>
				</div>
				<h3 class="title">Modern Language Features</h3>
				<p class="intro">Tuples, Closures, Lambdas, Generics and more for Jass.</p>
				<a class="link" href="https://wurstlang.org/manual.html"><span></span></a>
			</div>
		</div>
		<div class="item col-md-8 col-sm-6 col-xs-6 imgr">
			<img src="/assets/images/whywurst/advanced.jpg" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:2px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-cubes"></i>
				</div>
				<h3 class="title">Standard Library</h3>
				<p class="intro">Focus on content - common packages are already provided.</p>
				<a class="link" href="/stdlib"><span></span></a>
			</div>
		</div>
		<div class="item col-md-8 col-sm-6 col-xs-6 imgr">
			<img src="/assets/images/whywurst/stdlib.jpg" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
	<!-- ROW -->
	<div class="cards-wrapper row" style="margin-top:2px"> 
		<div class="item col-md-4 col-sm-4 col-xs-4">
			<div class="item-inner" style="padding: 28px 4px 4px 14px">
				<div class="icon-holder " style="margin-top: -8px">
					<i class="icon fa fa-thumbs-up"></i>
				</div>
				<h3 class="title">Active Development</h3>
				<p class="intro">Frequent open source updates and blog posts.</p>
				<a class="link" href="https://github.com/wurstscript"><span></span></a>
			</div>
		</div>
		<div class="item col-md-8 col-sm-6 col-xs-6 imgr">
			<img src="/assets/images/whywurst/active.png" class="img-rounded" style="margin:0px 0px 15px 00px">
		</div>
	</div>
</div>