---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body class="landing-page">

	<div class="page-wrapper">

		{% include header.html %}

		<div class="page-content">

			<div class="greeting">
				<div>
					<h1 class="name">WurstScript</h1>
					<div class="tagline">Efficient. Innovative. Delicious.</div>
					<a class="btn btn-primary">Get Started</a>
				</div>
				<div class="img-container">
					<img src="/assets/images/wurst-scroll.png">
					<!-- Place this tag where you want the button to render. -->
					<a class="github-button" href="https://github.com/wurstscript/wurstscript" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star wurstscript/wurstscript on GitHub">Star</a>
				</div>
			</div>

			<div class="news">
				<h2 class="title">Latest Updates</h2>
				<div class="cards">
					{% assign posts = site.news | sort: 'date' | reverse %}
					{% for post in posts limit:3 %}
					<a class="btn card" href="{{ post.url }}">
						<div class="card-image"><img src="{{ post.image }}"></div>
						<div class="card-content date">
							<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
							<h3>{{ post.title }}</h3>
							<p>{{ post.excerpt }}</p>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>

			<div class="why-wurst">
				<h2 class="title">Why Wurst?</h2>

				<p>WurstScript is a programming language and modding toolkit used to create Warcraft III maps wit ease.
					It supports Warcraft III reforged and older versions by producing either Jass or Lua code.</p>

				<div class="tabbed">
					<input type="radio" id="tab1" name="css-tabs" checked>
					<input type="radio" id="tab2" name="css-tabs">
					<input type="radio" id="tab3" name="css-tabs">
					
					<ul class="tabs">
						<li class="tab"><label for="tab1">Look and Feel</label></li>
						<li class="tab"><label for="tab2">Compiletime</label></li>
						<li class="tab"><label for="tab3">Optimizations</label></li>
					</ul>
					
					<div class="tab-content">
						<h4>WurstScript is a strongly typed language with indentation syntax. </h4>
						<pre class="language-wurst">
							<code class="language-wurst">init
	EventListener.onCast(ABIL_ID) caster ->
		forUnitsOfPlayer(caster.getOwner()) u ->
			u..addMana(100)
			..addHP(100)
			..addEffect(Abilities.faerieFireTarget, AttachmentPoints.chest)
							</code>
						</pre>
					</div>
					
					<div class="tab-content">
						<h4>WurstScript supports interpreting code at compiletime. This includes the generation of map data objects, such as units, abilities and items.</h4>
						<pre class="language-wurst">
							<code class="language-wurst">constant UNIT_ID = compiletime(UNIT_ID_GEN.next)

@compiletime
function createUnit()
	new ZombieDefinition(UNIT_ID, UnitIds.dalaranmutant)
	..setName("Custom Unit")
	..setArmorType(ArmorType.Unarmored)
	..setAttack1TargetsAllowed(commaList(TargetsAllowed.ground, TargetsAllowed.structure, TargetsAllowed.debris))
							</code>
						</pre>
					</div>
					<div class="tab-content">
						<h4>WurstScript has inbuilt optimizers that keep your code fast in the output map by running optimizations such as:</h4>
						<ul class="why-list">
							<li>Constant and Copy Propagation</li>
							<li>Branch & Variable Merging</li>
							<li>Function & Variable Inlining</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="news">
				<h2 class="title">Join the Community</h2>

				<div class="cards">
					<a class="btn card" href="https://github.com/wurstscript" target="_blank">
						<div class="card-image"><img src="/assets/images/github-mark-white.png"></div>
						<div class="card-content">
							<h3>GitHub</h3>
							<p>Report bugs, suggest features, contribute code.</p>
						</div>
					</a>

					<a class="btn card" href="https://discord.gg/mSHZpWcadz" target="_blank">
						<div class="card-image"><img src="/assets/images/icon_clyde_blurple_RGB.png"></div>
						<div class="card-content">
							<h3>Discord</h3>
							<p>General chat for WurstScript and Warcraft mapping. Bridged to matrix.</p>
						</div>
					</a>

					<a class="btn card" href="https://matrix.to/#/!qppIznMkBZgRaYJNYA:matrix.org?via=matrix.org" target="_blank">
						<div class="card-image"><img src="/assets/images/Matrix_icon.png"></div>
						<div class="card-content">
							<h3>Matrix</h3>
							<p>General chat for WurstScript and Warcraft mapping. Bridged to discord.</p>
						</div>
					</a>
				</div>

				<div class="v-space"></div>

			</div>

		</div>


	
	{% include footer.html %}

</body>

</html>