---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body class="landing-page">

	<div class="page-wrapper">

		{% include header.html %}

		<div class="page-content">

			<div class="greeting">
				<div>
					<div class="name">WurstScript</div>
					<div class="tagline">Efficient. Innovative. Delicious.</div>
					<a class="btn btn-primary">Get Started</a>
				</div>
				<img src="/assets/images/wurst-scroll.png">
			</div>

			<div class="news">
				<div class="title">Latest Updates</div>
				<div class="cards">
					{% assign posts = site.news | sort: 'date' | reverse %}
					{% for post in posts %}
					<a class="btn card" href="{{ post.url }}">
						<div class="card-image"><img src="{{ post.image }}"></div>
						<div class="card-content">
							<h3>{{ post.title }}</h3>
							<p>{{ post.excerpt }}</p>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>

		</div>




		<div class="cards-section text-center">

		
			<div class="container text-center">

				<h2 class="title">{{ page.heading }}</h2>

				<!-- INTRO -->
				<div class="intro">{{ content }}</div>

				{% include navigation.html navigation=page.navigation %}

			</div>

		</div>
		<div class="cards-section text-center">

			{% include whywurst.html %}

			<div class="tag-container">
				<a class="tag" href="https://github.com/wurstscript/wurstscript">
					<img src="https://dl.circleci.com/status-badge/img/gh/wurstscript/WurstScript/tree/master.svg?style=svg" alt="Build Status" />
				</a>
				<a class="tag" href='https://coveralls.io/github/wurstscript/WurstScript?branch=master'><img src='https://coveralls.io/repos/github/wurstscript/WurstScript/badge.svg?branch=master' alt='Coverage Status' /></a>
				<!-- Place this tag where you want the button to render. -->
				<a class="github-button" href="https://github.com/wurstscript/wurstscript" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star wurstscript/wurstscript on GitHub">Star</a>
			</div>
			<div class="alert alert-info" style="display:inline-flex;">
				Please report any bugs, issues or requests on our&nbsp;<a href="https://github.com/{{ site.share.github.repo }}/wurstscript/issues/new"
				 title="Issue Tracker on Github">Issue Tracker</a>.
			</div>
		</div>

	</div>

	{% include footer.html %}

	<!-- Main Javascript -->
	<script type="text/javascript" src="{{ '/assets/plugins/jquery-1.12.3.min.js'                          | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js'                 | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/plugins/jquery-match-height/jquery.matchHeight-min.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/main.js'                                            | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/buttons.js'                                         | prepend: site.baseurl }}"></script>
	<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ComputerLanguage",
            "name": "WurstScript",
            "alternateName": "wurst",
            "image": "https://wurstlang.org/assets/images/wurst_icon64.png",
            "description": "Delicious, fully featured Warcraft III map development toolkit.",
            "url": "https://wurstlang.org",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://wurstlang.org"
            }
        }
    </script>

</body>

</html>