---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body class="landing-page">

	<div class="page-wrapper">

		{% include header.html %}

		<div class="page-content">

			<div class="greeting">
				<div>
					<h1 class="name">WurstScript</h1>
					<div class="tagline">Efficient. Innovative. Delicious.</div>
					<a class="btn btn-primary">Get Started</a>
				</div>
				<div class="img-container">
					<img src="/assets/images/wurst-scroll.png">
					<!-- Place this tag where you want the button to render. -->
					<a class="github-button" href="https://github.com/wurstscript/wurstscript" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star wurstscript/wurstscript on GitHub">Star</a>
				</div>
			</div>

			<div class="news">
				<h2 class="title">Latest Updates</h2>
				<div class="cards">
					{% assign posts = site.news | sort: 'date' | reverse %}
					{% for post in posts %}
					<a class="btn card" href="{{ post.url }}">
						<div class="card-image"><img src="{{ post.image }}"></div>
						<div class="card-content">
							<h3>{{ post.title }}</h3>
							<p>{{ post.excerpt }}</p>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>

			<div class="why-wurst">
				<h2 class="title">Why Wurst?</h2>

				<p>WurstScript is a programming language and modding toolkit used to create Warcraft III maps wit ease.
					It supports Warcraft III reforged and older versions by emitting either Jass or Lua code.</p>

				<div class="tabbed">
					<input type="radio" id="tab1" name="css-tabs" checked>
					<input type="radio" id="tab2" name="css-tabs">
					<input type="radio" id="tab3" name="css-tabs">
					
					<ul class="tabs">
						<li class="tab"><label for="tab1">Look and Feel</label></li>
						<li class="tab"><label for="tab2">Compiletime</label></li>
						<li class="tab"><label for="tab3">Optimizations</label></li>
					</ul>
					
					<div class="tab-content">
						<h4>WurstScript is a strongly typed language with indentation syntax. </h4>
						<pre class="language-wurst">
							<code class="language-wurst">init
	EventListener.onCast(ABIL_ID) caster ->
		forUnitsOfPlayer(caster.getOwner()) u ->
			u..addMana(100)
			..addHP(100)
			..addEffect(Abilities.faerieFireTarget, AttachmentPoints.chest)
							</code>
						</pre>
					</div>
					
					<div class="tab-content">
						<h4>WurstScript supports interpreting code at compiletime. This includes the generation of map data objects, such as units, abilities and items.</h4>
						<pre class="language-wurst">
							<code class="language-wurst">constant UNIT_ID = compiletime(UNIT_ID_GEN.next)

@compiletime
function createUnit()
	new ZombieDefinition(UNIT_ID, UnitIds.dalaranmutant)
	..setName("Custom Unit")
	..setArmorType(ArmorType.Unarmored)
	..setAttack1TargetsAllowed(commaList(TargetsAllowed.ground, TargetsAllowed.structure, TargetsAllowed.debris))
							</code>
						</pre>
					
					<div class="tab-content">
						<h4>WurstScript has inbuilt optimizers that keep your code fast in the output map.</h4>
						<p>Our conversations with other pilgrims have led to an awakening of pseudo-astral consciousness. Who are we? Where on the great myth will we be re-energized? We are at a crossroads of complexity and stagnation.</p>
						<p>Eons from now, we dreamers will exist like never before as we are aligned by the cosmos. We are being called to explore the stratosphere itself as an interface between nature and complexity. We must learn how to lead infinite lives in the face of bondage.</p>
						<p>Generated by the <a href="http://sebpearce.com/bullshit/">New Age Bullshit Generator</a></p>
					</div>
				</div>
			</div>

		</div>




		<div class="cards-section text-center">

		
			<div class="container text-center">

				<h2 class="title">{{ page.heading }}</h2>

				<!-- INTRO -->
				<div class="intro">{{ content }}</div>

				{% include navigation.html navigation=page.navigation %}

			</div>

		</div>
		<div class="cards-section text-center">

			{% include whywurst.html %}

			<div class="tag-container">
				<a class="tag" href="https://github.com/wurstscript/wurstscript">
					<img src="https://dl.circleci.com/status-badge/img/gh/wurstscript/WurstScript/tree/master.svg?style=svg" alt="Build Status" />
				</a>
				<a class="tag" href='https://coveralls.io/github/wurstscript/WurstScript?branch=master'><img src='https://coveralls.io/repos/github/wurstscript/WurstScript/badge.svg?branch=master' alt='Coverage Status' /></a>
				
			</div>
			<div class="alert alert-info" style="display:inline-flex;">
				Please report any bugs, issues or requests on our&nbsp;<a href="https://github.com/{{ site.share.github.repo }}/wurstscript/issues/new"
				 title="Issue Tracker on Github">Issue Tracker</a>.
			</div>
		</div>

	</div>

	
	{% include footer.html %}
	
	<!-- Main Javascript -->
	<script type="text/javascript" src="{{ '/assets/plugins/jquery-1.12.3.min.js'                          | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js'                 | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/plugins/jquery-match-height/jquery.matchHeight-min.js' | prepend: site.baseurl }}"></script>
	 <script type="text/javascript" src="{{ '/assets/plugins/prism/prism.min.js'                                | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/instantsearch.min.js'                               | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/wurst.js'                                           | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/main.js'                                            | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/buttons.js'                                         | prepend: site.baseurl }}"></script>
	<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ComputerLanguage",
            "name": "WurstScript",
            "alternateName": "wurst",
            "image": "https://wurstlang.org/assets/images/wurst_icon64.png",
            "description": "Delicious, fully featured Warcraft III map development toolkit.",
            "url": "https://wurstlang.org",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://wurstlang.org"
            }
        }
    </script>

</body>

</html>