--- 
layout: compress 
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body class="body-{{ page.color }} doc-body">

    <div class="page-wrapper">

        <!-- HEADER -->
        <header id="header" class="header">
            <div class="container doc-header-container">

                <div>
                    {% include branding.html home=false %}

                    <!-- BREADCRUMB -->
                    <ol class="breadcrumb">
                        <li>
                            <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
                        </li>
                        <li class="active">{{ page.title }}</li>
                    </ol>
                </div>

                <div style="flex:1"></div>
                <div id="search-searchbar"></div>
            </div>

        </header>

        <div class="doc-wrapper">
            <div class="container">

                <!-- DOCUMENT HEADER -->
                <div id="doc-header" class="doc-header text-center">

                    <h1 class="doc-title">
                        {% include icon.html icon=page.icon %} {{ page.title }}
                    </h1>

                    {% if page.date %}
                    <div class="meta">
                        <i class="fa fa-clock-o"></i> Last updated: {{ page.date | date: '%B %d, %Y' }}</div>
                    {% endif %} {% if page.author %}
                    <div class="author">
                        <i class="fa fa-user"></i> Author: {{ page.author }}</div>
                    {% endif %}

                </div>

                <!-- DOCUMENT BODY -->
                <div id="{{ page.id | slugify }}" class="doc-body">

                    <!-- CONTENT -->
                    <div class="doc-content">
                        <div class="content-inner">

                            {{ content | markdownify }} {% for id in page.sections %} {% assign section = site.doc | where: "id", id | first %}

                            <div id="{{ section.title | slugify }}" class="doc-section">
                                <h2 class="section-title">{{ section.title }}</h2>
                                <div class="section-block">
                                    {{ section.content | markdownify }}
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>

                    {% include sidebar.html sections=page.sections %}

                </div>

            </div>
        </div>

    </div>

    {% include footer.html %}

    <!-- Main Javascript -->
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-1.12.3.min.js'                          | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js'                 | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js'        | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/lightbox/dist/ekko-lightbox.min.js'            | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-match-height/jquery.matchHeight-min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/prism/prism.min.js'                                | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/instantsearch.min.js'                               | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/wurst.js'                                           | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/main.js'                                            | prepend: site.baseurl }}"></script>

</body>

</html>